{extend name="layout/base" /}
{block name="content"}
<div class="welcome">欢迎回来，{$nickname}</div>
<div class="card">
    <h3>个人信息</h3>
    <div class="info-row"><span class="label">用户名</span><span class="value">{$user.username}</span></div>
    <div class="info-row"><span class="label">昵称</span><span class="value">{$user.nickname}</span></div>
    <div class="info-row"><span class="label">邮箱</span><span class="value">{$user.email}</span></div>
    <div class="info-row"><span class="label">手机</span><span class="value">{$user.phone}</span></div>
    <div class="info-row"><span class="label">超级管理员</span><span class="value">{$user.is_super_text}</span></div>
</div>
{/block}